# Файл: .gitignore
.DS_Store
# Исключение виртуальных сред
venv/
__pycache__/
*.pyc
*.pyo

# Логи и временные файлы
logs/
*.log
*.tmp

# Игнорирование окружений и кэша
.env
*.env
.cache/

# Файлы IDE
.vscode/
.idea/
*.iml
*.ipr
*.iws
out/

# Исключение файлов конфигурации системы
*.swp
*.swo
*.bak
